.loader {
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 89, 0);
    border-top: 5px solid #4ecdc4;
    animation: spinanimate 2s ease-in 0s infinite normal;



}
@keyframes spinanimate {
    from {
transform: rotate(0deg);
    } 
    to {
transform: rotate(360deg);
    }
}